@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


h1{
    margin-top: 70px;
    font-family : 'Montserrat' , sans-serif;
    font-size: 40px;
    text-align: center
}

h2{
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    color: #AAAAAA;   
    text-align: center
}

hr{
    margin-top: 70px;
    margin-bottom: 70px;
    width: 70px;
    box-shadow: 0;
}

.bouton{
    border: 0.5px #AAAAAA solid;
    border-radius: 30px;
    padding: 15px;
    font-weight: bold;
    font-size: 25px;
    color: #AAAAAA;
}

.bouton:hover{
    background-color: #F5614D;
}

.active{
    background-color: #F5614D;
}

.active:hover{
    background-color: white;
}


#container1{
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 20px;
    justify-content: center;
}
